body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.section.reviews {
  padding: 80px 0;
  background-color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .section.reviews {
    padding: 100px 0;
  }
}

.reviews-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .reviews-container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.title {
  max-width: 335px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}

.title-span {
  color: #576f35;
}

@media only screen and (min-width: 768px) {
  .title {
    max-width: 560px;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }
}

.text {
  max-width: 335px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .text {
    max-width: 553px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }
}

@media only screen and (min-width: 768px) {
  .reviews-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

.reviews-item {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  max-width: 335px;
  height: 228px;
  background: #fbfbfb;
}

.reviews-list > .reviews-item {
  display: none;
}

.reviews-list > .reviews-item:nth-child(1) {
  display: list-item;
}

@media only screen and (min-width: 768px) {
  .reviews-list > .reviews-item {
    display: list-item;
    padding: 20px;
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .reviews-list > .reviews-item:nth-child(3) {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-list > .reviews-item:nth-child(3) {
    display: list-item;
  }
  .reviews-list > .reviews-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.reviews-image {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
}

.reviews-item .text {
  text-align: center;
  max-width: 288px;
  color: #858585;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .reviews-item .text {
    font-size: 16px;
    line-height: 1.25;
  }
}
